<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main/tabs/tab2"></ion-back-button>
    </ion-buttons>
    <ion-title>Alimentos Favoritos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slides [options]="sliderOpts"
              *ngIf="datalocalService.alimentos.length === 0">
    <ion-slide>
      <ion-label>No hay favoritos</ion-label>
    </ion-slide>
  </ion-slides>

  <div *ngIf="datalocalService.alimentos.length > 0">
    <ion-card *ngFor="let alimento of datalocalService.alimentos">
      <ion-card-header>
        <ion-card-title style="color: #c4302b">
          {{alimento.name}}
          <div class="boton">
            <ion-button style="color: #c4302b" fill="clear" (click)="lanzarMenu()">
              <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
            </ion-button>
          </div>

        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <table class="table">
          <tbody>
          <tr>
            <th scope="row">Valor Nutricional:</th>
            <td> por 100 gramos</td>
          </tr>
          <tr>
            <th scope="row"> Calorías:</th>
            <td> {{alimento.calorias}} g</td>
          </tr>
          <tr>
            <th scope="row">Grasas:</th>
            <td>{{alimento.grasas}} g</td>
          </tr>
          <tr>
            <th slot="start"> - de las cuales saturadas:</th>
            <td slot="end">{{alimento.grasas_saturadas}} g</td>
          </tr>
          <tr>
            <th>Hidratos de Carbono:</th>
            <td>{{alimento.hidratos_de_carbono}} g</td>
          </tr>
          <tr>
            <th> - de los cuales azúcares:</th>
            <td>{{alimento.hidratos_de_carbono_azucares}} g</td>
          </tr>
          <tr>
            <th> Proteínas:</th>
            <td>{{alimento.proteinas}} g</td>
          </tr>
          <tr>
            <th> Sal:</th>
            <td>{{alimento.sal}} g</td>
          </tr>
          </tbody>
        </table>
      </ion-card-content>
    </ion-card>

  </div>



</ion-content>
