<app-header titulo="Principal"></app-header>

<ion-content>

  <ion-grid class="ion-margin-top">

    <ion-slides [options]="opciones" class="pos">
      <ion-slide class="slide">
        <img class="borde" src="assets/slides-principal/slide-1.jpg" alt=""/>
        <p class="bottom-left">Entrenamientos Personalizados</p>
      </ion-slide>

      <ion-slide class="slide">
        <img class="borde" src="assets/slides-principal/slide-2.jpg" alt=""/>
        <p class="bottom-left">Multitud de Ejercicios</p>
      </ion-slide>

      <ion-slide class="slide">
        <img class="borde" src="assets/slides-principal/slide-3.jpg" alt=""/>
        <p class="bottom-right bottom-left">Información Nutricional</p>
      </ion-slide>
    </ion-slides>

  </ion-grid>

  <ion-grid>

    <div class="container">
      <div class="card">
        <div class="box">
          <div class="percent">
            <svg>
              <circle cx="70" cy="70" r="70"></circle>
              <circle cx="70" cy="70" r="70"></circle>
            </svg>
            <div class="number">
              <h2 class="ion-text-center">{{stepCount}}</h2>
            </div>
          </div>
          <h2 class="text ion-text-center">Pasos</h2>
        </div>
      </div>
    </div>

    <ion-row>
      <ion-col size="6">
        <ion-card class="ppal ion-text-center ion-padding" color="light">
          <ion-icon name="fitness-outline"></ion-icon>
          <h2>Resumen</h2>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="ppal ion-text-center ion-padding" color="light" [routerLink]="['/main/tabs/tab3']">
          <ion-icon name="barbell-outline"></ion-icon>
          <h2>Rutinas</h2>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>

      <section id="container">
        <ul id="listlink">
          <li>
            <div></div>
            <span class="titles"><i class="fas fa-poll"></i>Resumen</span><span class="offdata"><ion-icon name="arrow-forward-outline"></ion-icon></span>
          </li>
          <li [routerLink]="['/main/tabs/tab3']">
            <div></div>
            <span class="titles"><i><ion-icon name="barbell-outline"></ion-icon></i>Ejercicios</span><span class="offdata"><ion-icon name="arrow-forward-outline"></ion-icon></span>
          </li>
          <li>
            <div></div>
            <span class="titles"><i><ion-icon src="assets/food.svg"></ion-icon></i>Alimentación</span><span class="offdata"><ion-icon name="arrow-forward-outline"></ion-icon></span>
          </li>
        </ul>
      </section>

    </ion-row>


  </ion-grid>

</ion-content>
