ion-content ion-toolbar {
  --background: translucent;
  margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

ion-slides {
  height: 100%;
  width: 100%;
}

.inicio {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}

.texto-2 {
  font-family: 'Luckiest Guy', cursive;
  margin: 0.2em 0;
  color: #0091b0;
  font-size: 28px;
}

.texto {
  font-family: 'Luckiest Guy', cursive;
  color: #0091b0;
  // color: #D92B2B;
  font-size: 15px;
  margin: 0;
}

.icono {
  font-size: 20px;
}

img {
  width: 100%;
}

.swiper-slide {
  display: block;
}

.swiper-slide img {
  max-height: border-box;
  pointer-events: none;
}

p {
  font-size: 14px;
  color: var(--ion-color-step-600, #60646b);
}

p b {
  color: var(--ion-text-color, #000000);
}


.login-form {
  margin: 30px auto;
}

.login-form form {
  margin-bottom: 15px;
  background: #f7f7f7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
}

.login-form h2 {
  margin: 0 0 15px;
}

.login-form .hint-text {
  color: #777;
  padding-bottom: 15px;
  text-align: center;
}

.form-control, .btn {
  min-height: 38px;
  border-radius: 2px;
}

.login-btn {
  font-size: 15px;
  font-weight: bold;
}

.or-seperator {
  margin: 20px 0 10px;
  text-align: center;
  border-top: 1px solid #ccc;
}

.or-seperator i {
  padding: 0 10px;
  background: #f7f7f7;
  position: relative;
  top: -11px;
  z-index: 1;
}

.social-btn .btn {
  margin: 10px 0;
  font-size: 15px;
  text-align: left;
  line-height: 24px;
}

.social-btn .btn i {
  float: left;
  margin: 4px 15px 0 5px;
  min-width: 15px;
}

.input-group-addon .fa {
  font-size: 18px;
}

.content {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

.BoxOne {
  width: 100%;
  margin: auto;
  background: #cce4ff;
  position: relative;
  height: 400px;

  padding: 140px 0px;
}

.BoxOne::after {
  content: "";
  position: absolute;
  z-index: -1;

  width: 100%;
  height: 100%;

  background: inherit;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  transform-origin: top right;
  transform: skewY(-11deg);
}

.BoxTwo .content p {
  width: 50%;
  margin-top: 20px;
  font-size: 1em;
  line-height: 25px;
  letter-spacing: 1px;
}

.BoxTwo {
  width: 100%;
  position: relative;
  z-index: -2;
  padding: 250px 0px 100px;
  background: #105baf;
  color: #fff;
  height: 100%;
}

.banner {
  height: 65%;
  position: relative;
  width: 100%;
}

.banner img {
  width: 100%;
}

h1 {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-shadow: 0 2px 20px #000;
  font-size: 50px;
}

.content2 {
  background: #fff;
  color: #fff;
  height: 450px;
  padding-top: 20px;
  position: relative;
  text-align: center;
  width: 100%;
}

.content2 > h2 {
  font-size: 20px;
  padding: 10px;
}

.content2:before {
  position: absolute;
  content: '';
  width: 60%;
  height: 72px;
  top: -50px;
  left: 0;
  background: #fff;
  transform: skewY(10deg);
}

.content2:after {
  position: absolute;
  content: '';
  width: 60%;
  height: 72px;
  top: -50px;
  right: 0;
  background: #fff;
  transform: skewY(-10deg);
}


.icon-next{
  font-size: 38px;
}






