<ion-content fullscreen scroll-y="false">

    <ion-slides [options]="opciones">

        <!-- Posible ngFor para todas las secciones -->
        <ion-slide>
            <img src="assets/inicio-2.jpg" alt="">
            <p class="texto-2">FIT TACTICS</p>
            <p class="texto">Ponte en forma con nosotros</p>
            <ion-icon class="icono" style="color: #D92B2B;" name="arrow-forward-circle-outline"></ion-icon>
        </ion-slide>

        <ion-slide>
            <img src="assets/seis.jpg" alt=""/>
            <h2>Alimentación</h2>
            <p>Filtro de búsqueda</p>
            <ion-icon color="primary" class="icono" name="arrow-forward-circle-outline"></ion-icon>
        </ion-slide>

        <ion-slide>
            <img src="assets/cinco.jpg" alt=""/>
            <h2>Alimentación</h2>
            <p>Alimentos por individual</p>
            <p>Calculadora de calorías</p>
            <ion-icon color="primary" class="icono" name="arrow-forward-circle-outline"></ion-icon>
        </ion-slide>

        <ion-slide>
            <img src="assets/uno.jpg" alt=""/>
            <h2>Ejercicios</h2>
            <p>Test para comprobar tu nivel</p>
            <p>Rutinas personalizadas</p>
            <ion-icon color="primary" class="icono" name="arrow-forward-circle-outline"></ion-icon>
        </ion-slide>

        <ion-slide>
            <img src="assets/dos.jpg" alt=""/>
            <h2>Ejercicios</h2>
            <p>Encuentra la rutina que mejor se adapte a tus necesidades</p>
            <ion-icon color="primary" class="icono" name="arrow-forward-circle-outline"></ion-icon>
        </ion-slide>

        <ion-slide>
            <img src="assets/tres.jpg" alt=""/>
            <h2>Progreso</h2>
            <p>Estarás al corriente en todo momento de tu progresión</p>
            <ion-icon color="primary" class="icono" name="arrow-forward-circle-outline"></ion-icon>
        </ion-slide>

        <ion-slide>
            <img src="assets/cuatro.jpg" alt=""/>
            <ion-row>
                <ion-col class="ion-text-center">
                    <ion-button type="submit"
                                color="tertiary"
                                shape="round"
                                [routerLink]="['/principal']">
                        Iniciar Sesión
                    </ion-button>
                </ion-col>
                <ion-col class="ion-text-center">
                    <ion-button type="submit"
                                color="dark"
                                shape="round">
                        Registrarse
                    </ion-button>
                </ion-col>
            </ion-row>

        </ion-slide>

    </ion-slides>

</ion-content>

