<ion-content fullscreen scroll-y="false">

    <ion-slides [options]="opciones">

        <ion-slide>
            <div class="banner">
                <h1>FIT TACTICS</h1>
                <img src="assets/inicio-2.jpg" alt="">
            </div>
            <div class="content2">
                <h2>Tu aplicación de entrenamiento</h2>
                <h2>Ponte en forma con nosotros</h2>
            </div>
        </ion-slide>

        <ion-slide>
            <div class="banner">
                <h1>Alimentación</h1>
                <img src="assets/cinco.jpg" alt="">
            </div>
            <div class="content2">
                <h2>Información nutricional sobre una gran variedad de comidas y alimentos</h2>
            </div>
        </ion-slide>

        <ion-slide>
            <div class="banner">
                <h1>Entrenamiento</h1>
                <img src="assets/dos.jpg" alt="">
            </div>
            <div class="content2">
                <h2>Personaliza tus entrenamientos y rutinas</h2>
            </div>
        </ion-slide>

        <ion-slide>
            <div class="uk-section uk-section-muted uk-flex uk-flex-middle uk-animation-fade" uk-height-viewport>
                <div class="uk-width-1-1">
                    <div class="uk-container">
                        <div class="uk-grid-margin uk-grid uk-grid-stack">
                            <div class="uk-width-1-1@m">
                                <form class="uk-margin uk-width-large uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
                                    <ul class="uk-tab uk-flex-center" uk-grid
                                        uk-switcher="animation: uk-animation-fade">
                                        <li><a href="#">Registrarse</a></li>
                                        <li><a href="#">Iniciar Sesión</a></li>
                                        <li class="uk-hidden">¿Olvidó la contraseña?</li>
                                    </ul>
                                    <ul class="uk-switcher uk-margin">
                                        <li>
                                            <div class="login-form">
                                                <form>
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <ion-input type="text" class="form-control" name="username"
                                                                       placeholder="Usuario"
                                                                       required="required"></ion-input>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <ion-input type="email" class="form-control" name="email"
                                                                       placeholder="Email"
                                                                       required="required"></ion-input>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <ion-input type="password" class="form-control"
                                                                       name="password" placeholder="Contraseña"
                                                                       required="required"></ion-input>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <ion-input type="password" class="form-control"
                                                                       name="password" placeholder="Repetir contraseña"
                                                                       required="required"></ion-input>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <ion-button type="submit"
                                                                    class="btn btn-block login-btn text-white">
                                                            Registrarse
                                                        </ion-button>
                                                    </div>
                                                </form>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="login-form">
                                                <form>
                                                    <div class="text-center social-btn">
                                                        <a href="#" class="btn btn-primary btn-block"><i
                                                                class="fab fa-facebook"></i> Inicia con <b>Facebook</b></a>
                                                        <a href="#" class="btn btn-info btn-block"><i
                                                                class="fab fa-twitter-square"></i> Inicia con
                                                            <b>Twitter</b></a>
                                                        <a href="#" class="btn btn-danger btn-block"><i
                                                                class="fab fa-google"></i> Inicia con <b>Google</b></a>
                                                    </div>
                                                    <div class="or-seperator"><i>o</i></div>
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <ion-input type="text" class="form-control" name="username"
                                                                       placeholder="Usuario"
                                                                       required="required"></ion-input>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <ion-input type="password" class="form-control"
                                                                       name="password" placeholder="Contraseña"
                                                                       required="required"></ion-input>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <ion-button type="submit" class="btn btn-block login-btn text-white"
                                                                    [routerLink]="['/principal']">
                                                            Iniciar
                                                        </ion-button>
                                                    </div>

                                                </form>
                                            </div>
                                        </li>

                                    </ul>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </ion-slide>

    </ion-slides>

</ion-content>
