<ion-header class="ion-no-border">
    <ion-toolbar class="new-background-color" style="color: white;">
        <ion-buttons slot="start">
            <ion-back-button [defaultHref]="['/alimentos']"></ion-back-button>
        </ion-buttons>
        <ion-title>Alimentación</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <!---->

    <ion-card>
        <ion-card-header>
            <ion-card-title style="color: #c4302b">
                {{alimento.name}}
                <div class="boton">
                    <ion-button style="color: #c4302b" fill="clear" (click)="lanzarMenu()">
                        <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
                    </ion-button>
                </div>

            </ion-card-title>
        </ion-card-header>
        <div class="ion-text-center">
            <img [src]="alimento.foto" class="img-fluid margin-0">
        </div>
        <ion-card-content>
            <table class="table">
                <tbody>
                <tr>
                    <th>Valor Nutricional:</th>
                    <td> por 100 gramos</td>
                </tr>
                <tr>
                    <th> Calorías:</th>
                    <td> {{alimento.calorias}} g</td>
                </tr>
                <tr>
                    <th>Grasas:</th>
                    <td>{{alimento.grasas}} g</td>
                </tr>
                <tr>
                    <th> - de las cuales saturadas:</th>
                    <td>{{alimento.grasas_saturadas}} g</td>
                </tr>
                <tr>
                    <th>Hidratos de Carbono:</th>
                    <td>{{alimento.hidratos_de_carbono}} g</td>
                </tr>
                <tr>
                    <th> - de los cuales azúcares:</th>
                    <td>{{alimento.hidratos_de_carbono_azucares}} g</td>
                </tr>
                <tr>
                    <th> Proteínas:</th>
                    <td>{{alimento.proteinas}} g</td>
                </tr>
                <tr>
                    <th> Sal:</th>
                    <td>{{alimento.sal}} g</td>
                </tr>
                </tbody>
            </table>
        </ion-card-content>
    </ion-card>


</ion-content>
