<app-header titulo="Ejercicios"></app-header>

<ion-tab-bar slot="bottom">
    <ion-tab-button tab="general" [routerLink]="['/main/tabs/general']">
        <ion-icon name="square"></ion-icon>
        <ion-label>General</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ver-rutinas" [routerLink]="['/main/tabs/ver-rutinas']">
        <ion-icon name="star"></ion-icon>
        <ion-label>Ver Rutinas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ver-ejercicios" [routerLink]="['/main/tabs/ver-ejercicios']">
        <ion-icon name="barbell-outline"></ion-icon>
        <ion-label>Ver Ejercicios</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="crear-rutinas" [routerLink]="['/main/tabs/crear-rutinas']">
        <ion-icon name="add"></ion-icon>
        <ion-label>Crear Rutina</ion-label>
    </ion-tab-button>
</ion-tab-bar>
