<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="rutinas">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Rutinas</ion-label>
      <!--<ion-badge>6</ion-badge>-->
    </ion-tab-button>

    <ion-tab-button tab="crear-rutina">
      <ion-icon name="create"></ion-icon>
      <ion-label>Crear rutinas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ejercicios">
      <i class="fas fa-dumbbell fa-2x"></i>
      <ion-label>Ejercicios</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="test-rutina">
      <ion-icon name="checkbox"></ion-icon>
      <ion-label>Test Rutinas</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>