<app-header titulo="Alimentacion"></app-header>

<ion-searchbar animated class="ion-margin-top"
               (ionChange)="buscar($event)"></ion-searchbar>


<ion-content class="ion-padding">

    <ion-list>
        <ion-item *ngFor="let alimento of arrayfiltrado"
                  detail [routerLink]="['/alimento', alimento.id]">
            {{alimento.name}}
        </ion-item>
    </ion-list>

</ion-content>

<ion-tab-bar slot="bottom">

    <ion-tab-button tab="alimento-fav" [routerLink]="['/alimento-fav']">
        <ion-icon name="star"></ion-icon>
        <ion-label>Alimentos Favoritos</ion-label>
    </ion-tab-button>

    <ion-tab-button disabled>
        <ion-icon name="alert-outline"></ion-icon>
        <ion-label>Próximamente</ion-label>
    </ion-tab-button>

</ion-tab-bar>
