<app-header titulo="Test Rutina"></app-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col>
        <h4>¡Encuentra la rutina apropiada para tí!</h4>
        <p>Con este test simple, encontrarás el tipo de rutina que más se adapta a tus necesidades y objetivos.</p>
        <p>No importa si eres un principiante o avanzado en el deporte, puesto que este test va dirigido a todo tipo de usuarios.</p>
        <p>Échale un vistazo haciendo click en el botón de abajo.</p>

        <ion-button (click)="abrirTest()" class="ion-margin-top" color="dark">Empezar Test</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
