<ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
        <ion-toolbar color="dark">
            <ion-title>Menú</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content style="background-color: #1a1a1a">
        <div class="contain">
            <video src="/assets/video-intro.mp4" autoplay loop muted class="vid"></video>
        </div>
        <ion-list>

            <ion-menu-toggle *ngFor="let o of opciones | async">
                <ion-item [routerLink]="o.redirectTo">
                    <ion-icon slot="start" src="/assets/{{o.icon}}" color="{{o.color}}"></ion-icon>
                    <ion-label>{{o.name}}</ion-label>
                </ion-item>
            </ion-menu-toggle>

        </ion-list>
    </ion-content>
</ion-menu>
