<!-- Componente Menú -->
<ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
        <ion-toolbar class="new-background-color" style="color: white;">
            <ion-title>Menú</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content style="background-color: #1a1a1a">
        <div class="contain">
            <video src="/assets/video-intro.mp4" autoplay loop muted class="vid"></video>
        </div>
        <ion-list lines="none">
            <ion-list-header>
                Principal
            </ion-list-header>
            <ion-menu-toggle *ngFor="let o of opciones | async">
                <ion-item [routerLink]="o.redirectTo">
                    <ion-icon slot="start" src="/assets/{{o.icon}}" style="color: #c4302b"></ion-icon>
                    <ion-label>{{o.name}}</ion-label>
                </ion-item>
            </ion-menu-toggle>
        </ion-list>
        <ion-list *ngIf="loggedIn" lines="none">
            <ion-list-header>
                Cuenta
            </ion-list-header>

            <ion-menu-toggle autoHide="false">
                <ion-item routerLink="/account" routerLinkActive="active" routerDirection="root" detail="false">
                    <ion-icon slot="start" name="person"></ion-icon>
                    <ion-label>
                        Cuenta
                    </ion-label>
                </ion-item>
            </ion-menu-toggle>

            <ion-menu-toggle autoHide="false">
                <ion-item routerLink="/support" routerLinkActive="active" routerDirection="root" detail="false">
                    <ion-icon slot="start" name="help"></ion-icon>
                    <ion-label>
                        Soporte
                    </ion-label>
                </ion-item>
            </ion-menu-toggle>

            <ion-menu-toggle autoHide="false">
                <ion-item button (click)="logout()" detail="false">
                    <ion-icon slot="start" name="log-out"></ion-icon>
                    <ion-label>
                        Cerrar Sesión
                    </ion-label>
                </ion-item>
            </ion-menu-toggle>

        </ion-list>

        <ion-list lines="none">
            <ion-list-header>
                Cuenta
            </ion-list-header>

            <ion-menu-toggle autoHide="false">
                <ion-item routerLink="/login" routerLinkActive="active" routerDirection="root" detail="false">
                    <ion-icon slot="start" name="log-in"></ion-icon>
                    <ion-label>
                        Iniciar Sesión ?
                    </ion-label>
                </ion-item>
            </ion-menu-toggle>

            <ion-menu-toggle autoHide="false">
                <ion-item routerLink="/support" routerLinkActive="active" routerDirection="root" detail="false">
                    <ion-icon slot="start" name="help"></ion-icon>
                    <ion-label>
                        Soporte ?
                    </ion-label>
                </ion-item>
            </ion-menu-toggle>

            <ion-menu-toggle autoHide="false">
                <ion-item routerLink="/signup" routerLinkActive="active" routerDirection="root" detail="false">
                    <ion-icon slot="start" name="person-add"></ion-icon>
                    <ion-label>
                        Registrarse ?
                    </ion-label>
                </ion-item>
            </ion-menu-toggle>

            <ion-item>
                <ion-icon slot="start" name="moon"></ion-icon>
                <ion-label>Modo Oscuro ?</ion-label>
                <ion-toggle slot="end"
                            [ngModel]="darkMode"
                            (ionChange)="cambio()"></ion-toggle>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-menu>
